<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
</head>
<body>
    <h1>Formulario de prueba CSS</h1>
    <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <br>
        <label for="descripcion">Ponga su descripcion:</label>
        <textarea name="descripcion" id="descripcion"></textarea>
        <br>
        <br>
        <label for="opciones">Seleccione su deporte favorito:</label>
        <select name="opciones" id="opciones">
            <option value="futbol">Futbol</option>
            <option value="basket">Basket</option>
            <option value="natacion">Natacion</option>
        </select>
        <br>
        <br>
        <label for="dias">Dias que practica el deporte:</label>
        <input type="checkbox" name="dias" id="lunes" value="lunes">Lunes
        <input type="checkbox" name="dias" id="miercoles" value="miercoles">Miercoles
        <input type="checkbox" name="dias" id="viernes" value="viernes">Viernes
        <br>
        <br>
        <label for="genero">Genero:</label>
        <input type="radio" name="genero" id="masculino" value="masculino">Masculino
        <input type="radio" name="genero" id="femenino" value="femenino">Femenino
        <br>
        <br>
        <input type="submit" value="Enviar">

    </form>
    
</body>
</html>