<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilo_interno.css">
</head>
<body>
    <h1>Pruebas</h1>
    <p>Este es un parrafo de prueba</p>
    <form action="">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <label for="gustos">ingrese sus gustos:</label>
        <textarea name="gustos" id="caja_gustos"></textarea>
        <br>
        <label for="gustos_musicales">Seleccione sus generos preferidos:</label>
        <select name="gustos_musicales" id="gustos_musicales">
            <option value="rock">Rock</option>
            <option value="pop">Pop</option>
            <option value="clasica">Clasica</option>
            <option value="reggaeton">Reggaeton</option>
        </select>
        <br>
        <label for="dias">dias que escuchas estos generos</label>
        <input type="checkbox" name="dias" id="lunes" value="lunes">Lunes
        <input type="checkbox" name="dias" id="martes" value="martes">Martes
        <input type="checkbox" name="dias" id="miercoles" value="miercoles">Miercoles
        <input type="checkbox" name="dias" id="jueves" value="jueves">Jueves
        <input type="checkbox" name="dias" id="viernes" value="viernes">Viernes
        <br>
        <input type="submit" value="Enviar">
    </form>
    <input type="radio" name="genero" id="masculino" value="masculino">Masculino
    <input type="radio" name="genero" id="femenino" value="femenino">Femenino  
    
</body>
</html>