<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pruebas</h1>
    <p>Este es un parrafo de prueba</p>
    <form action="">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <label for="gustos">ingrese sus gustos:</label>
        <textarea name="gustos" id="caja_gustos" style="opacity: inherit;"></textarea>
        <br>
        <label for="gustos_musicales">Seleccione sus generos preferidos:</label>
        <select name="gustos_musicales" id="gustos_musicales" style="cursor: crosshair;">
            <option value="rock">Rock</option>
            <option value="pop">Pop</option>
            <option value="clasica">Clasica</option>
            <option value="reggaeton">Reggaeton</option>
        </select>
        <br>
        <label for="dias">dias que escuchas estos generos</label>
        <input type="checkbox" name="dias" id="lunes" value="lunes" style="font-style: oblique;">Lunes
        <input type="checkbox" name="dias" id="martes" value="martes" style="font-style: oblique;">Martes
        <input type="checkbox" name="dias" id="miercoles" value="miercoles" style="font-style: oblique;">Miercoles
        <input type="checkbox" name="dias" id="jueves" value="jueves" style="font-style: oblique;">Jueves
        <input type="checkbox" name="dias" id="viernes" value="viernes" style="font-style: oblique;">Viernes
        <br>
        <input type="submit" value="Enviar"> 
    </form>
    <input type="radio" name="genero" id="masculino" value="masculino" style="border-color: darkblue;">Masculino
    <input type="radio" name="genero" id="femenino" value="femenino" style="border-color: darkblue;">Femenino  
    
</body>
</html>